@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* font-family: 'Poppins', sans-serif; */

body{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background-color: var(--snow);
}

:root{
    --whitesmoke: #F5F5F5; /* background color 1 */
    --snow: #FFFAFA; /* background color 2 */

    --dark: #000000; /* h1, h2 e h3 */
    --fonthover: #0b0b0b; /* a href hover */
    --prehoverfont: #4f4f4f; /* a href */
    --counter: #ff0095; /* tag strong */
}

/* Gerneral Content */
.change-theme{
    --whitesmoke: #1d000d;
    --snow: #0d0406;

    --dark: #ffffff;
    --fonthover: #fbfbfb;
    --prehoverfont: #9c9c9c;
}
main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
section{
    padding: 2rem;
}
strong{
    color: var(--counter);
}

/* Header */
header{
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: var(--whitesmoke);
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-height: 50px;
    gap: 2rem;
}
.box-logo{
    height: 100%;
}
.image-logo{
    max-width: 60px;
    height: 100%;
}
.menu-icons{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.iten-menu-chapters{
    text-decoration: none;
    color: var(--prehoverfont);
}
.iten-menu-chapters:hover{
    text-decoration: underline;
    color: var(--fonthover);
    transition: .3s;
}
.dark-bright-mode{
    cursor: pointer;
}
.moon{
    height: 25px;
}

/* 1° Block - About Me */
.main-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    min-height: 500px;
}
.text-about-me{
    display: flex;
    flex-direction: column;
    gap: .7rem;
}
h1{
    font-size: 2rem;
    letter-spacing: 2px;
    color: var(--dark);
}
.text-about-me p{
    color: var(--dark);
}
.box-image{
    max-width: 350px
}
.principal-image{
    width: 100%;border-radius: 50%;
    box-shadow: 1px 1px 3px 1px var(--counter);
}

/* 2° Block - Projects */
.projects-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
    padding: 4rem 0;
    background-color: var(--whitesmoke);
}
h2{
    color: var(--dark);
}
#api-projects{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    max-width: 500px;
}
#api-projects a{
    text-decoration: none;
    color: var(--prehoverfont);
}
#api-projects a:hover{
    color: var(--fonthover);
    transition: .3s;
}

/* 3° Block - Contact */
.contact-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.contact-content > div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}
h3{
    color: var(--dark);
    letter-spacing: 2px;
}
.linkedin-github a{
    color: var(--prehoverfont);
}
.linkedin-github a:hover{
    color: var(--fonthover);
    transition: .3s;
}

/* Footer */
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--whitesmoke);
    padding: 2rem;
}
.banner{
    max-width: 300px;   
}
footer p{
    cursor: default;
}