@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* font-family: 'Poppins', sans-serif; */

body{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background-color: var(--snow);
}

:root{
    --white: #fff;
    --ghostwhite: #F8F8FF;
    --whitesmoke: #F5F5F5;
    --magnolia: #F8F4FF;
    --snow: #FFFAFA;
    --black: #0b0b0b;
    --blacked: #4f4f4f;
    --strong: #b9016c;
}

/* Header */
header{
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: var(--whitesmoke);
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-height: 50px;
}
.box-logo{
    height: 100%;
}
.image-logo{
    max-width: 60px;
    height: 100%;
}
.menu-icons{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.iten-menu-chapters{
    text-decoration: none;
    color: var(--black);
}
.iten-menu-chapters:hover{
    text-decoration: underline;
    color: var(--blacked);
    transition: .3s;
}

/* Gerneral Content */
main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
section{
    padding: 2rem;
}
strong{
    color: var(--strong);
}

/* 1° Block - About Me */
.main-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    min-height: 500px;
}
.text-about-me{
    display: flex;
    flex-direction: column;
    gap: .7rem;
}
h1{
    font-size: 2rem;
    letter-spacing: 2px;
}
.box-image{
    max-width: 350px
}
.principal-image{
    width: 100%;
}

/* 2° Block - Projects */
.projects-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    background-color: var(--whitesmoke);
}
h3{
    letter-spacing: 2px;
}

/* 3° Block - Contact */
.contact-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.contact-content > div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}
.linkedin-github a{
    color: var(--black);
}
.linkedin-github a:hover{
    color: var(--blacked);
}

/* Footer */
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--whitesmoke);
    padding: 2rem;
}
.banner{
    max-width: 300px;
    
}